
<div class="container-xxl flex-grow-1 container-p-y">
   
    <div class="row">
        <div class="card">
            <h5 class="card-header">Patient Appointment</h5>
            <div class="card-body">
                <form id="patientAppointment" class="row g-3" novalidate>
                    <input type="hidden" coll id="appointmentId" class="form-control" name="appointmentId" />
                    <input type="hidden" coll id="patientId" class="form-control" name="patientId" />
                    <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                            <input type="text" id="patientname" class="form-control" placeholder="Name" name="PatientName" required />
                            <label for="name">Patient Name</label>
                            <div class="invalid-feedback"> Please enter Patient name</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating form-floating-outline">
                            <input type="text" id="age" class="form-control" placeholder="Age" name="PatientAge" required />
                            <label for="age">Patient Age</label>
                            <div class="invalid-feedback"> Please enter Patient Age</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating form-floating-outline">
                            <select id="gender" name="PatientGender" class="selectpicker w-100" data-style="btn-default">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                            <label for="selectpickerBasic">Gender</label>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-floating form-floating-outline">
                            <input type="text" id="contactNumber" class="form-control" placeholder="01xxxxxxxx" name="MobileNo" required />
                            <label for="contactNumber">Mobile Number</label>
                            <div class="invalid-feedback"> Please enter Mobile Number</div>
                        </div>
                    </div>
                                    
                    <div class="col-md-4">
                        <div class="form-floating form-floating-outline">
                            <input type="text" id="patientType" class="form-control" disabled name="PatientType" />
                           
                            <label for="patientType">Patient Type</label>
                        </div>
                    </div>
                     <div class="col-md-4">

                        <div class="form-floating form-floating-outline">
                            <select id="select2Basic" name="DoctorId" required class="select2 form-select form-select-lg" data-allow-clear="true">
                            </select>
                            <label for="select2Basic">Select Doctor</label>
                            <div class="invalid-feedback"> Please select Doctor</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating form-floating-outline">
                            <select id="doctorFee" class="form-control" name="DoctorsFee">
                                <option value="" selected disabled>Select an option</option>
                            </select>
                            <label for="doctorFee">Doctor Fee</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating form-floating-outline">
                            <input type="number" id="paymentAmount" class="form-control" placeholder="00.00 BDT" name="Paid" />
                            <label for="paymentAmount">Payment Amount</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating form-floating-outline">
                            <input type="number" id="dueAmount" class="form-control" readonly placeholder="00.00 BDT" name="Due" />
                            <label for="dueAmount">Due Amount</label>
                        </div>
                    </div>
                   
                    <hr />

                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <button type="button" onclick="SavePatientAppointment()" style="margin-right: 10px" class="btn btn-primary">Save</button>
                            <button type="button" onclick="ResetForm()" class="btn btn-default">Reset</button>
                        </div>
                    </div>

                </form>
                <hr/>
                <div class="card-datatable dataTable_select text-nowrap table-responsive">
                    <table class="dt_Appointment table table-bordered">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th class="collapsed">Id</th>
                                <th>Patient Name</th>
                                <th>Patient Age</th>
                                <th>Mobile No</th>
                                <th>Doctor Name</th>
                                <th>Doctor Fee</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/js/patientappointment.js"></script>
}
